<form (submit)="agregar(inputTarea)" action="#">
    <input type="text" #inputTarea >
    <button type="submit" >Agregar Tarea</button>
</form>

<p>
    <input type="text" placeholder="Buscar..." #inputBuscar />
    <button (click)="buscarItem.set(inputBuscar.value)" >Buscar</button>
</p>
<p>
    <button (click)="buscarItemEstado.set('todas')">Todas</button>
    <button (click)="buscarItemEstado.set('completadas')">Completadas</button>
    <button (click)="buscarItemEstado.set('pendientes')">Pendientes</button>
</p>

<p>Pendientes: {{svc.pendientes()}} tareas</p>

@if ( tareasFiltradas().length === 0 ) {
    <p>No hay tareas</p>
} @else {
    <ul>
        @for (t of tareasFiltradas(); track t.id) {
            <li [class.completada]="t.done">
                <input type="checkbox" [checked]="t.done" (change)="svc.toggle(t.id)"/> 
                {{ t.nombre }}
                <button (click)="svc.eliminar(t.id)" >Eliminar</button>
            </li>
        }
    </ul>
}